// ABOUT section
.ba-about {
    background: $black;
    color: $white;
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__column {
        display: flex;
        &--left {
            width: 100%;
            margin: 0 auto;
            z-index: 2;
            padding: 0 5%;
            @media(min-width: $bp-md){
                width: 50%;
                margin: 0 12% auto;
            }
            
        }
        &--right {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            justify-content: flex-end;
            display: none;

            @media(min-width: $bp-md){
                display: flex;
            }

            img {
                height: 100vh;
            }
        }
    }
    &__img{
        &--small{
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            @media(min-width: $bp-sm){
                display: none;
            }
        }
    }
    &__suptitle {
        text-transform: uppercase;
        margin: 30px 0;
        letter-spacing: 0.14em;
        font-size: 23px;
        @media (min-width: $bp-sm) {
            font-size: 30px;
        }
        @media (min-width: $bp-md) {
            font-size: 21px;
        }
    }
    &__title {
        font-size: 37px;
        padding-bottom: 40px;
        letter-spacing: 0.04em;
        @media (min-width: $bp-sm) {
            font-size: 87px;
        }
        @media (min-width: $bp-md) {
            font-size: 60px;
        }
    }
    &__text {
        font-family: $font-main;
        font-size: 10px;
        letter-spacing: 0.04em;
        margin: 0;
        line-height: 1.3;
        @media (min-width: $bp-sm) {
            font-size: 24px;
        }
        @media (min-width: $bp-md) {
            font-size: 18px;
        }
    }
}