// ABOUT section
.ba-about {
    background: $black;
    color: $white;
    position: relative;
    height: 100%;
    width: 100%;
    &__column {
        display: flex;
        &--left {
            width: 50%;
            margin: 0 auto;
            z-index: 2;
        }
        &--right {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            //width: 50%;

            justify-content: flex-end;
            
            display: none;

            @media(min-width: $bp-md){
                display: flex;
            }

            img {
                height: 100vh;
            }
        }
    }
    &__img{
        &--small{
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            @media(min-width: $bp-sm){
                display: none;
            }
        }
    }
    &__suptitle {
        text-transform: uppercase;
        font-size: 23px;
        @media (min-width: $bp-sm) {
            font-size: 30px;
        }
        @media (min-width: $bp-md) {
            font-size: 21px;
        }
    }
    &__title {
        font-size: 37px;
        @media (min-width: $bp-sm) {
            font-size: 87px;
        }
        @media (min-width: $bp-md) {
            font-size: 60px;
        }
    }
    &__text {
        font-size: 10px;
        @media (min-width: $bp-sm) {
            font-size: 24px;
        }
        @media (min-width: $bp-md) {
            font-size: 18px;
        }
    }
}