@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@font-face {
  font-family: 'Candara';
  src: url('../fonts/Candara.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Microsoft Tai Le';
  src: url('../fonts/taile.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
