// fonts
$font-headings: 'Playfair Display', serif;
$font-main: 'Candara', sans-serif;

$font-input: 'Roboto', sans-serif;
$font-input-2: 'Microsoft Tai Le', sans-serif;


// colors
$white: #ffffff;
$black: #000000;

// responsive
$bp-xs: 480px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;

